*{
    padding: 1;
    margin: 1;
}
body{
    background:fixed;
    color: aliceblue;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.menu-bar{
    background: rgba(251, 5, 157, 0.254);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li{
    width: 125px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color:#fff;
}
.menu-bar ul li:hover{
    background: rgb(211, 0, 98);
    border-radius: 4px;
}
body{
    background: url(photo.jpg);
}
