body{
    color: rgb(232, 10, 252);
    text-align: center;
    size: 11px;
    top: 4em;
    background: url(page.png) no-repeat;
    background-position: center;
      
}
button{
    color: white;
    background-color: black;
    padding: 11px;
    font-style: oblique;
}
