*{
    padding 0;
h1{
    color: white;
    border: chartreuse;
}
body{
    background: url(dark-night.jpg);
    text-align: center;
 

}
.create{
    color: blue;
    text-align: center;
    text-decoration: line-through;
}
