h1{
    color: red;
}
body{
    background: url(hello.png) none;
}
.hello{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    width: auto;
    padding: 10%;
    cursor: pointer;
    border: 1px solid;
}
.hi{
    color: rgb(245, 15, 157);
}
button{
    color: rgb(243, 6, 6);
    padding: 5%;
}
button:hover{
    background-color: blue;
}
