h1{
    color: black;
    text-align: center;
    float: left;
    background:yellow;
    padding: 10px;
}
body{
    background-color: rgb(168, 247, 247);
}
.beauty{
   padding: 25px;
   float:unset;
   text-align:center;
}
